.location-form {
    display: flex;
    border: solid thin grey;
    border-radius: 2rem;
    padding: 1rem;
    justify-content: center;
    background-color: white;
    margin-top: 6rem;
}



.location-inputs {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    background-color: white;
    margin: 0;
    padding: 0;
    color: grey;
    flex: 1;

}

.location-inputs label {
    margin: 0;
    padding: 0;
    font-size: small;

}

.location-inputs input {
    margin: 0;
    padding: 0;
    width: 10rem;
    text-decoration: underline;
    font-size: large;
    border: none;
    outline: none;
    background-color: white;
}



.location-form button {
    width: 2rem;
    height: 2rem;
    background-image: url('../../img/search-arrow.png');
    border: thin solid grey;
    font-size: medium;
    margin: 0;
    background-size: cover;
    border-radius: 5rem;
    align-self: center;
}

.location-inputs .false-input {
    border: solid thin red;
}