.object-item {
    border: solid thin black;
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
}

.object-item h2,
p {
    margin: 0;
}

.object-item div {
    display: flex;
    flex-direction: row;
    margin-top: 1rem
}

.object-item p {
    padding-right: 1rem;
    align-self: center;
}

.object-item button {
    width: 2rem;
    height: 2rem;
    background-image: url('../../assets/search-arrow.png');
    border: thin solid grey;
    font-size: medium;
    margin: 0;
    background-size: cover;
    border-radius: 5rem;
    align-self: center;
}