.form {
    display: flex;
    justify-content: center;
    border: solid thin grey;
    border-radius: 2rem;
    padding: 1rem;
    background-color: white;
    width: 50rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    flex: auto;
    height: fit-content;
    width: fit-content;
    background-color: white;
    margin: 0;
    padding: 0;
    color: grey;
    width: fit-content;
}


.inputs label {
    margin: 0;
    padding: 0;
    font-size: small;
    width: fit-content;
}

.inputs input {
    margin: 0;
    padding: 0;
    text-decoration: underline;
    font-size: large;
    border: none;
    outline: none;
    background-color: white;
    width: fit-content;
}

.inputs .false-input {
    margin: 0;
    padding: 0.2rem;
    text-decoration: underline;
    font-size: large;
    outline: none;
    background-color: white;
    width: fit-content;
    border: solid thin red;
    border-radius: 1rem;
}

.form button {
    width: 2rem;
    height: 2rem;
    background-image: url('../../assets/search-arrow.png');
    border: thin solid grey;
    font-size: medium;
    margin-left: 1rem;
    background-size: cover;
    border-radius: 5rem;
    align-self: center;
}