.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
    top: 15vh;
    left: 5%;
    width: 80%;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
    display: flex;
    flex-direction: column;
}

.name {
    width: fit-content;
    align-self: center;
    text-align: center;
}

.info-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.object-address {
    grid-area: 1/1/1/3;
    text-align: center;
    text-decoration: underline;
}

.object-distance {
    grid-area: 1/3/3/4;
    border: thin solid black;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 1rem;
    text-align: center;
    justify-self: center;
    background-color: orange;
    color: white;
}

.distance h3 {
    margin: 0
}

.object-rate {
    grid-area: 2/1/3/3;
    text-align: center;
}

.kinds-list {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    border: solid thin orange;
    border-radius: 1rem;
    color: white;
    width: fit-content;
    align-self: center;
}

.kind {
    padding: 0.5rem;
    background-color: orange;
    border-radius: 1rem;
    width: fit-content;
    margin: 0 0.1rem;
}


.modal a {
    align-self: flex-end;
}

.modal button {
    width: fit-content;
    align-self: center;
}